<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Stock Management</title>
</head>
<body>
	
	<div class ="container">
	<div class ="row">
	<h1>List Available Stock</h1>
	</div>
<table style="border: 2px solid #ddd; border-collapse: collapse; width: 100%;">
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="border: 1px solid #ddd; padding: 8px;">stock_name</th>
      <th style="border: 1px solid #ddd; padding: 8px;">stock_type</th>
      <th style="border: 1px solid #ddd; padding: 8px;">price</th>
      <th style="border: 1px solid #ddd; padding: 8px;">quantity</th>
      <th style="border: 1px solid #ddd; padding: 8px;">manufacturer-details</th>
    </tr>
  </thead>
  <tbody>
   <tr th:each = "Stock: ${Stock}">
   	<td> th:text = "${Stock.stock_name}"></td>
   	<td> th:text = "${Stock.stock_type}"></td>
   	<td> th:text = "${Stock.price}"></td>
   	<td> th:text = "${Stock.quantity}"></td>
   	<td> th:text = "${Stock.manufacturer_details}"></td>
  </tbody>
	</table>
	
	</div>
</body>
</html>